h1{
    color: #f584a9ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
    font-size: 50px;
}
.star{
    width: 200px;
    height: 200px;
    /*overflow: hidden;*/
    position:relative;
    top: 20px;
    left: 20px; 
    margin-left: 200px;
}